body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

#root{
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.song-div{
  width: 30%;
  background-color: white;
  opacity: 0.8;
  margin: 8px;
  border: 1px dotted antiquewhite;
}

h1{
  width: 100%;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
