body {
  margin: 0;
  padding: 0;

  background: -webkit-linear-gradient(to left, AntiqueWhite, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, AntiqueWhite, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#root{
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.song-div{
  width: 30%;
  background-color: white;
  opacity: 0.8;
  margin: 8px;
  border: 1px dotted antiquewhite;
}

h1{
  width: 100%;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
